$font-white-color:white;
$font-dark-color: #291f1a;
$font-green-color:#1ac056;

$font-family-lato:'Lato', sans-serif;
$font-family-roboto:'Roboto', sans-serif;

$transparent-background-color:transparent;
$grey-background-color:rgba(224, 224, 224, 0.85);
$white-background-color:white;
$dark-blue-background-color: #213b50;
$light-blue-background-color:#2b4a64;

