* {
    box-sizing: border-box;
}

div {
    height: 150px;
    width: 150px;
    margin: 5px auto;
    background-color: pink;
    text-align: center;
    position: relative;
}

footer {
    height: 50px;
    background-color: deepskyblue;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 13px;
    opacity: 0.6;
}