form {
    background-color: #213b50;
    color: white;
    width: 600px;
    padding: 20px;
}

form input:focus {
    background-color:#4e708c;
}

form input, form select, form input[type="tel"], form input [type="email"], form select [type="miasto"], form textarea {
    background-color:#2b4a64;
    width: 300px;
    color: #fff;
    border: #2b4a64 1px solid;
    height: 25px;
}

form textarea {
    line-height:normal;

}

form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    border: #fff 1px solid;
    outline: none;
}

form input[type="checkbox"] {
    float:left;
}

form input[type="submit"] {
    background-color:#2b4a64 ;
    border: #2b4a64 1px solid;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 800;
    margin-top: 5px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}


form input [type="submit"] :hover {
    background-color: #2b4a64 ;
}





h1 {
    margin-top: 5px;
}