* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.parallax {
    min-height: 1000px;
    background-image: url('../img/sea.jpg');
    height: 100%;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax .napisy {
    height: 200px;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
}

.parallax #napis-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax .napisy p {
    color: black;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}